<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue Boolflix</title>
</head>
<body>
    <div id='app'>

        <div class="container-fluid">

            <div class="sub-one">

                <h3>BOOLFLIX</h3>
                <div>
                    <i class="fas fa-search"></i>
                    <input 
                    v-model='select'
                    placeholder="Cerca un film o serie TV"
                    @keyup.enter='searchFilm(); searchTv();'
                    type="text">

                    <button
                    @click="searchFilm(); searchTv();">
                    Cerca
                    </button> 

                </div>
                
            </div>

            <!-- div for no-results -->

            <div
            v-if="!filmArray.length"
            class="no-results">
                    <i class="fab fa-searchengin"></i>
                    <h3>Nessun film disponibile</h3>
            </div>

                <!-- ul films -->
            <ul>
                <li 
                v-for='(film, index) in filmArray'
                class='card'>
                    <img
                    :src="posterApi + film.poster_path"
                    onerror="this.src=altPoster;" 
                    alt="poster"
                    >
                    <div class="sub-card">
                        <p>{{film.title}}</p>
                        <p>{{film.original_title}}</p>
                        <div>
                            <i 
                            v-for='vote in filmArray[index].vote_average' 
                            class="fas fa-star">
                            </i>
                            <i 
                                v-for='vote in (5 - filmArray[index].vote_average)' 
                                class="far fa-star">
                            </i>
                        </div>
                        
                        <br>
                        <img :src="film.original_language" alt="">
                        <p v-if="film.overview != ''">Overview:</p>
                        <p>{{film.overview}}</p>
                    </div>
                </li>
            </ul>

            <button
            v-if="filmArray.length"
            @click='previousPage'>
                Pagina precedente
            </button>
            <button
            v-if="filmArray.length"
            @click='nextPage'>
                Pagina successiva
            </button>

            <span v-if="filmArray.length">
                Pagina: {{filmPage}}
            </span>
            <br>
            <span v-if="filmArray.length">
                Pagine totali: {{filmPageTotal}}
            </span>
            <br>
            <span v-if="filmArray.length">
                Film trovati: {{filmTotal}}
            </span>

            <!-- div for no-results -->

            <div
            v-if="!tvShowsArray.length"
            class="no-results">
                    <i class="fab fa-searchengin"></i>
                    <h3>Nessuna serie Tv disponibile</h3>
            </div>

                <!-- ul tv shows -->
            <ul>
                <li 
                    v-for='(tvshow, index) in tvShowsArray'
                    class='card-tvshow'>
                    <img :src="posterApi + tvshow.poster_path"    
                    onerror="this.src=altPoster;" 
                    alt="poster"
                    >
                    <div class="sub-card">
                        <p>{{tvshow.original_name}}</p>
                        <p>{{tvshow.name}}</p>
                        <img :src="tvshow.original_language" alt="">
                        <div>
                            <i 
                            v-for='vote in tvShowsArray[index].vote_average' 
                            class="fas fa-star">
                            </i>
                            <i 
                                v-for='vote in (5 - tvShowsArray[index].vote_average)' 
                                class="far fa-star">
                            </i>
                        </div>

                        <p v-if="film.overview != ''">Overview:</p>
                        <p>{{tvshow.overview}}</p>
                    </div>
                </li>
            </ul>

            <button
            v-if="tvShowsArray.length"
            @click='previousPageTv'>
                Pagina precedente
            </button>
            <button
            v-if="tvShowsArray.length"
            @click='nextPageTv'>
                Pagina successiva
            </button>

            <span v-if="tvShowsArray.length">
                Pagina: {{tvShowsPage}}
            </span>
            <br>
            <span v-if="tvShowsArray.length">
                Pagine totali: {{tvShowsPageTotal}}
            </span>
            <br>
            <span v-if="tvShowsArray.length">
                Serie TV trovate: {{tvShowsTotal}}
            </span> 

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>