<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue Boolflix</title>
</head>
<body>
    <div id='app'>

        <div class="container-fluid">

            <input 
            v-model='filmSelect'
            placeholder="Cerca un film"
            @keyup.enter='searchFilm'
            type="text">

            <button
            @click="searchFilm">
            Cerca
            </button>

            <ul>
                <li 
                v-for='film in filmArray'
                class='card'>
                    <img :src="posterApi + film.poster_path" alt="poster film">
                    <div class="sub-card">
                        <p>{{film.title}}</p>
                        <p>{{film.original_title}}</p>
                        <p>{{film.original_language}}</p>
                        <p>{{film.vote_average}}</p>
                    </div>
                </li>
            </ul>

            <button
            @click='nextPage'>
                Pagina successiva
            </button>

            <span>
                Pagina: {{filmPage}}
            </span>
            <br>
            <span>
                Pagine totali: {{filmPageTotal}}
            </span>
            <br>
            <span>
                Film trovati: {{filmTotal}}
            </span>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>