<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue Boolflix</title>
</head>
<body>
    <div id='app'>

        <input 
        v-model='filmSelect'
        placeholder="Cerca un film"
        @keyup.enter='searchFilm'
        type="text">

        <button
        @click="searchFilm">
        Cerca
        </button>

        <ul>
            <li v-for='film in filmArray'>
                {{film.title}}
            </li>
        </ul>

    </div>

    <script src="js/script.js"></script>
</body>
</html>